@page "/about"
<h3>About</h3>

@Version()
<p>
    Vex Flow - A JavaScript library for rendering music notation.
Copyright (c) 2010 Mohit Muthanna Cheppudira

</p>

<p>

    Tone.js
    Copyright (c) 2014-2020 Yotam Mann
</p>
<p>
    NoSleep.js
    Copyright (c) Rich Tibbett

</p>
<p>


    https://github.com/dalatant/PitchDetect

</p>


