@page "/config"
@implements IDisposable

@using EarWorm.Shared
@using EarWorm.Code;

@inject SavedData _saver
@inject MusicEngine _musicEngine

<PageTitle>Configure</PageTitle>

<div class="container">
        <div class="row px-3">
        <div class="col-md-6 col-lg-4 col-xl-3 p-3">
<DropDown Items=@Items ButtonText="Select Instrument" Selected=@Selected
OnSelectionChange=@InstrumentChanged/>

<Listener @ref=_listener/>
<HxButton Text="Test Audio" OnClick="TestAudio" Color="ThemeColor.Primary"/>
</div>
</div>
        <div class="row px-3">
        <div class="col-md-6 col-lg-4 col-xl-3 p-3">

<HxInputCheckbox @bind-Value="SleepChecked" Label="Prevent Device Sleeping While Playing" />

<HxInputCheckbox @bind-Value="KeySig" Label="Show real key signature"/>

</div>
</div>


<DropDown Items=@Toners Selected=@SelectedToner OnSelectionChange=@TonerChanged/>



</div>