@page "/TestSetup"
@implements IDisposable
@inject MusicEngine _musicEngine
@inject SavedData _saver
<PageTitle>Test Setup</PageTitle>

<h5>Define Test Set To Run</h5>
<div class="container">
    <div class="row">
        <div class="col">
            <HxInputNumber  @bind-Value="SetSize" InputGroupStartText="Number of tests in set"/>
        </div>
        <div class="col">
            <HxInputNumber  @bind-Value="Retries" InputGroupStartText="Retries allowed"/>
        </div>
    </div>
        <div class="row">
        <div class="col">
            <HxInputNumber  @bind-Value="NotesInTest" InputGroupStartText="Number of notes in test"/>
        </div>
        <div class="col">
            <HxInputNumber  @bind-Value="TimeAllowed" InputGroupStartText="Time allowed"/>
        </div>
    </div>
<DropDown Label="Scale" Items=@ScaleItems ButtonText="Scale" Selected=@SelectedScale
OnSelectionChange=@ScaleChanged/>

<DropDown Label="Key" Items=@KeyItems ButtonText="Key" Selected=@SelectedKey
OnSelectionChange=@KeyChanged/>

<DropDown Label="Root Note" Items=@RootModes ButtonText="Root" Selected=@SelectedRootMode
    OnSelectionChange=@OnRootChanged/>

</div> 
